section.v-slide(ng-class='slideData.customClass' ng-style='slideData.slideImage')
    h3.main-title {{ slideData.title }}
    h4.sub-title {{ slideData.subTitle }}
    p.slide-text {{ slideData.text }}
    .small-widget-container
    a(ng-href='slideData.buttonLink') {{slideData.buttonText}}
    .widget-container