section.v-slide(
    layout="column",
    layout-align="center start",
    ng-class='vslide.slideData.cssClasses.content',
    ng-style="vslide.getBg"
)
    h3.main-title {{::vslide.slideData.title.content }}
    h4.sub-title {{::vslide.slideData.subTitle.content }}
    p.slide-text(ng-bind-html="::vslide.slideData.text.content")
    .small-widget-container
    md-button.md-raised.p-10.p-l-40.p-r-40(ng-href='{{::vslide.slideData.buttonLink.content}}' ng-if="::vslide.slideData.buttonLink.content") {{::vslide.slideData.buttonLabel.content}}
    .widget-container

