section.v-slide(layout="column" layout-align="center start" ng-class='{{section.structureParts.cssClasses.content}}' class='{{ section.parameterizedName }}'  ng-style='vslide.getBackgroundImage()')
  h3.main-title {{ section.title }}
  h4.sub-title {{ section.structureParts.subTitle.content }}
  p(ng-bind-html='{{section.structureParts.text.content }}')
  .small-widget-container
  md-button.md-raised.p-10.p-l-40.p-r-40(ng-href='{{section.structureParts.buttonLink.content}}' ng-if="section.structureParts.buttonLink.content") {{section.structureParts.buttonLabel.content}}
  .widget-container
