navSections#service(case-name='colaborator', section-name='the-services', menu='$ctrl.servicesMenu', title='The services' ,
description='Some additional description that can be place after the menu')


navSections#strategy(case-name='colaborator', section-name='explore-product',
menu='$ctrl.productMenu', title='Explore The Product', sub-title='A cool subheading to summarizing')

