.slide(ng-show='$ctrl.isVisible("branding")')
    img(src='http://dummyimage.com/600x400/000/fff')
.slide(ng-show='$ctrl.isVisible("webDev")')
    img(src='http://dummyimage.com/600x400/000/FF9A42')
.slide(ng-show='$ctrl.isVisible("uxUi")')
    img(src='http://dummyimage.com/600x400/000/49C7FF')
.slide(ng-show='$ctrl.isVisible("strategy")')
    img(src='http://dummyimage.com/600x400/000/FF9A42')