nav-menu
section.v-slide.hero.overlay.p-50(layout="column" layout-align="center center" layout-padding style="background-image: url('http://lorempixel.com/1280/800/fashion/4')")
    img.m-b-25.dc-logo(src="assets/images/dc_icon.svg")
    img.m-b-20.dc-logo-text(src="assets/images/design_collective.svg")
    h2.main-title.text-center.white We Design & Build
    h3.sub-title.text-center.white Sexy and Scalable Multi-Platform Digital Products

h1 Icon Test
  i.btl.bt-eye

md-content
    v-slide(ng-repeat="slideData in home.data.slides" slide-data="slideData")
    up-next.up-next(next-page='home.data.upNext')
