nav-menu
section.v-slide.hero.overlay.p-50(layout="column" layout-align="center center" layout-padding ng-style="$ctrl.getBackgroundImage()")
    img.m-b-25.dc-logo(src="assets/images/dc_icon.svg")
    img.m-b-20.dc-logo-text(src="assets/images/design_collective.svg")
    h2.main-title.text-center.white {{$ctrl.data.heroTitle.content}}
    h3.sub-title.text-center.white {{$ctrl.data.heroSubtitle.content}}

md-content
    v-slide(ng-repeat="slideData in $ctrl.data.slides" slide-data="slideData" in-view='$ctrl.inViewHandler($index, $inview, $inviewpart)')
    insta-photos(limit='4', title='We in instagram')
    up-next.up-next(next-page='$ctrl.data.upNext')