.budget-slider
    h3.title BALLPARK BUDGETS
    div(layout='row', layout-xs="column")
        div.slider(flex)
            md-slider(ng-model='bslider.budgetValue', min='0', max='3' )
        div.description(flex)
            p {{ bslider.getBudget() }}