
pre
  |{{$ctrl.canvasWidth}}
  |{{$ctrl.canvasHeight}}
  |{{$ctrl.dofillcontainer}}
  |{{$ctrl.scale}}
  |{{$ctrl.materialType}}

div(canvas-particles-waves="" style="height: 100%; width: 100%; position: absolute; top:0; left: 0;")
//div(torus-knot-geometry="" style="height: 100%; width: 100%; position: absolute; top:0; left: 0;")

//- div(
//-   ng-webgl
//-   id="webglContainer"
//-   ng-style="{width: $ctrl.canvasWidth, height: $ctrl.canvasHeight }"
//-   fillcontainer="$ctrl.dofillcontainer"
//-   scale="1"
//-   material-type="torus-knot-geometry"
//- )