h4 case study
case-menu(menu='$ctrl.demoMenu', menu-fixed='$ctrl.menuFixed')
.case-content(in-view='$ctrl.inViewHandler($index, $inview, $inviewpart)')
    .common-case(ng-if='!$ctrl.featured')
    .case-injector