section.v-slide.hero.overlay.p-50(layout="column", layout-align="center center",  layout-padding, ng-style='{"background-image" : "url({{nextPage.backgroundImage}})"}')
    h3.sub-title.text-center.white Up next
    h2.main-title.text-center.white {{ nextPage.title }}
