//TODO: Head

.articles(ng-if='!$ctrl.single')
    .article-index(ng-repeat='member in $ctrl.data track by $index')
        p {{ member.firstName }}
        p {{ member.lastName }}
        p {{ member.email }}
        p {{ member.role }}
        p {{ member.facebookUrl }}
        p {{ member.twitterUrl }}
        p {{ member.instagramUrl }}

.article-show(ng-if='$ctrl.single')
    p {{ $ctrl.data.firstName }}
    p {{ $ctrl.data.lastName }}
    p {{ $ctrl.data.email }}
    p {{ $ctrl.data.member.role }}
    p {{ $ctrl.data.member.facebookUrl }}
    p {{ $ctrl.data.member.twitterUrl }}
    p {{ $ctrl.data.member.instagramUrl }}

//TODO: Footer