$sky: #2BC0EA;
$pink: #CC4463;
$pink-dark: #951433;
$yellow: #ECC830;
$grey-dark: #2D2C2A;

$font-family-condensed: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;;
