.process-step(ng-repeat='step in process.steps', ng-show="process.showStep($index)")
    h3.title {{($index+1) +"."+ step.title}}
    small(ng-hide='process.progress') {{ step.subTitle }}

.process-circle(ng-class='process.getClass()')